body{
  background-color:#f4f4f4;
  color:#555555;

  font-family: Verdana, Geneva, sans-serif;
  font-size:16px;
  font-weight:normal;
  /* Same as above */
  font: normal 16px Verdana, Geneva, sans-serif;

  line-height:1.6em;
  margin:0;
}

a{
  text-decoration:none;
  color:#000;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

.button{
  background-color:#333;
  color:#fff;
  padding:10px 15px;
  border:none;
}

.container{
  width:80%;
  margin:auto;
}

.clr{
  clear:both;
}

.box-1{
  background-color:#333;
  color:#fff;

  font: normal 14px Arial, Helvetica, sans-serif;

  border:5px red solid;

  padding:20px;
  margin:20px;
}

.container-2{
  width:90%;
  margin:auto;

  background-color:#670f3f;
  color:#34ff45;
  border:2px #003405 solid;
  font: normal 16px Tahoma, sans-serif;

  padding:10px;
}

.my-form{
  padding:20px;
}

.my-form .form-group{
  padding-bottom:15px;
}

.my-form label{
  display:block;
}

.my-form input[type="text"], .my-form textarea{
  padding:8px;
  width:100%;
}

/* .button{
  can work with class="button" in the index.html file
} */
.my-form input[type="submit"]{
  background-color:#333;
  color:#fff;
  padding:10px 15px;
  border:none;
}

.block{
  float:left;
  width:33.3%;
  box-sizing:border-box;
}
